@rendermode InteractiveServer

<head>
  <style>
    .customController {
      height: 6vw !important;
      border-radius: 7px !important;

    }

    h1 {
      font-weight: 900 !important;
      border-radius: 10px !important;

    }
  </style>

</head>

<nav class="navbar bg-body-tertiary sticky-top customController mb-2">
  <div class="container-fluid">
    <a class="navbar-brand">
      <h1> KuramaCartðŸ¦Š</h1>
    </a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search Any Products ðŸ˜" aria-label="Search Products">
      <button class="btn btn-success" type="submit">
        <h3>Search</h3>
      </button>
    </form>
  </div>
</nav>
