@page "/Home"
@using OnlineStore.Models
@rendermode InteractiveServer

<PageTitle> KuramaCart🦊 - Home</PageTitle>

<div id="loginToast" class="toast align-items-center position-fixed top-0 end-0 m-4 visible opacity-100" role="alert"
    aria-live="assertive" aria-atomic="true">
    <div class="d-flex visible opacity-100">
        <div class="toast-body visible opacity-100">
            🎉 Login successful! Welcome 💕
        </div>
        <button type="button" class="btn-close me-2 m-auto visible opacity-100" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>



<div id="carouselExampleDark" class="carousel carousel-dark slide carouselWrapperControl">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="500">
            <img src="https://assets.epicurious.com/photos/61b9271ce68653249bcfbfbf/16:9/w_2560%2Cc_limit/UtensilCrocks_HERO_120621_24372_V1_final.jpg"
                class="d-block w-100 carouselWrapperControl" alt="Kitchen Products">
            <div class="carousel-caption d-none d-md-block backgroundBlur">
                <h3>Kitchen</h3>
                <p>Kitchen Products under Rs.500</p>
            </div>
        </div>

        <div class="carousel-item" data-bs-interval="500">
            <img src="https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2024-06/240610-beauty-awards-2024-face-makeup-winners-vl-social-74fb90.jpg"
                class="d-block w-100 carouselWrapperControl" alt="Beauty Products image">
            <div class="carousel-caption d-none d-md-block backgroundBlur">
                <h3>Beauty Products</h3>
                <p> Beauty & Personal Care
                    Facial Skin Care Products
                    Face Makeup
                    Lip Makeup
                    Makeup Brushes & Tools
                    Eye Treatment Products
                </p>
            </div>
        </div>

        <div class="carousel-item" data-bs-interval="500">
            <img src="https://www.cabionline.com/wp-content/uploads/2023/07/casual-outfits-1.jpg"
                class="d-block w-100 carouselWrapperControl" alt="Cloths" height="800">
            <div class="carousel-caption d-none d-md-block backgroundBlur">
                <h3>Cloths</h3>
                <p>Local Cloths under Rs.1000</p>
            </div>
        </div>


    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<div class="container-fluid text-center">
    <LestShop />
</div>