@page "/User/cart"


<style>
    *{
        text-align: center !important;
    }
    body{
        background-color: rgba(44, 42, 42, 0.734);
    }

</style>


<h1>Products Added to cart are shown here</h1>

