@page "/"
@using OnlineStore.Models
@inject User userDetails

<PageTitle> KuramaCart🦊 - Home</PageTitle>
@if (!userDetails.DidUserLogIn)
{
    <LoginPage />
}
else
{
    <p>weeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
}