@page "/"

@* <PageTitle>Home</PageTitle> *@
@using OnlineStore.Models

@* <LoginPage></LoginPage> *@
<style>
    body {
        background-color: black;
        color: aqua;
        align-items: center;
        text-align: center;
    }

    table,
    td,
    tr,
    th {
        border: 2px solid rgb(29, 153, 33);
        text-align: center;
        margin: auto;
    }
</style>

<table>
    <tr>
        <th>ProductName</th>
        <th>ProductId</th>
        <th>Price</th>
        <th>Date</th>
    </tr>
    @foreach (var i in products)
    {
        <tr>
            <td>@i.ProductName</td>
            <td>@i.ProductId</td>
            <td>@i.Price</td>
            <td>@i.Date</td>
        </tr>
    }
</table>

@code {
    private Product[] products = [
    new(){
ProductId=123,
ProductName="kuramaPack",
Price=106,
Date= new DateOnly(2025,01,26)
}
    ];

}