@page "/"
@using OnlineStore.Models
@rendermode InteractiveServer
@inject User userDetails

<PageTitle> KuramaCart🦊 - Home</PageTitle>
@if (!userDetails.DidUserLogIn)
{
    <LoginPage @rendermode="InteractiveServer" />
}
else
{
    <p>weeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
}