@page "/login"
@rendermode InteractiveServer
<PageTitle>KuramaCart 🦊 --> LoginPage Check</PageTitle>

<EditForm Model="@userLogin" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <InputText id="username" @bind-Value="userLogin.UserName" class="form-control" aria-required="true"></InputText>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <InputText id="email" type="email" @bind-Value="userLogin.UserEmail" class="form-control"></InputText>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <InputText type="password" id="password" @bind-Value="userLogin.UserPassword" class="form-control" aria-required="true"></InputText>
    </div>
    <ValidationSummary></ValidationSummary>
    <button type="submit" class="btn btn-dark w-100 py-2">Login</button>
</EditForm>
@userLogin.UserName

@code {
    static int userId = 0;
    private User userLogin { get; set; } = new()
    {
        UserName = string.Empty,
        UserEmail = string.Empty,
        UserId = userId.ToString() + "A76Z",
        UserPassword = string.Empty,
        DateTime = DateTime.UtcNow,
        DidUserLogIn = false
    };

    private void HandleValidSubmit()
    {
        userId += 106;
        userData.AddUser(userLogin.UserId, userLogin.UserName, userLogin.UserEmail, userLogin.UserPassword);
        clear();
    }
    private void clear(){
        userLogin.UserName=userLogin.UserEmail=userLogin.UserPassword=string.Empty;
    }
}