@page "/login"
@rendermode InteractiveServer
<PageTitle>KuramaCart 🦊 --> LoginPage Check</PageTitle>




<EditForm Model="@userLogin">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <InputText id="email" @bind-Value="userLogin.UserName"></InputText>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <InputText type="password" @bind-Value="userLogin.UserPassword"></InputText>
    </div>
    <button type="submit" class="btn btn-dark w-100 py-2">Login</button>
</EditForm>


@code {
    private User userLogin { get; set; } = new()
    {
        UserName = string.Empty,
        UserEmail = string.Empty,
        UserId = string.Empty,
        UserPassword = string.Empty,
        DateTime = DateTime.UtcNow,
        DidUserLogIn = false
    };
}