<PageTitle> 2nd login</PageTitle>
@rendermode InteractiveServer
@inject OnlineStore.Models.User userDetails
@inject OnlineStore.Data.UserData userData

<style>
    .wrapper {
        display: flex !important;
        flex-direction: column !important;
    }
</style>

<form class="wrapper">
    <input type="text" placeholder="UserName" @bind="username">
    <input type="password" placeholder="Password here" @bind="password">
    @* @loginMessage *@

    @if (!string.IsNullOrWhiteSpace(loginMessage))
    {
        <div class="alert alert-warning mt-3">
            @loginMessage
        </div>
    }
    <input type="button" @onclick="Login" placeholder="Login" value="Login">

</form>

@code {
    private string username = string.Empty, password = string.Empty;
    private string? loginMessage;

    private void Login()
    {
        var user = userData.AuthenticateUser(username, password);

        if (user != null)
        {
            loginMessage = $"🎉 Login successful! Welcome, {user.UserName}";
            user.DidUserLogIn = true;
            userDetails.DidUserLogIn = true;
            ClearInputs();
        }
        else
        {
            loginMessage = "❌ Invalid username or password. Please try again.";
        }

    }
    private void ClearInputs()
    {
        username = password = string.Empty;
    }
}