@page "/MasterAdminPanel"
@using OnlineStore.Components.Layout
@layout EmptyLayout
<style>
    :root {
        --mainBG: rgb(56, 56, 82);
        --HighText: rgb(250, 250, 250);
        --asideBG: rgb(46, 46, 70);
        --asideText: rgb(186, 186, 188);
        --bodyText: rgb(218, 218, 220);
        --buttonHover: rgb(75, 90, 224);
    }

    * {
        border-radius: 1vw;
        padding: 0;
        margin: 0;
    }

    body {
        background-color: var(--mainBG);
        color: var(--maunText);
        height: 100vh;
    }

    main {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        height: 100vh;
    }

    aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between !important;
        background-color: var(--asideBG);
        color: var(--asideText);
        padding: 1rem;
        position: sticky;
        width: 17rem !important;
        height: 100vh;
        top: 0;

        button {
            padding: 1vw !important;
            cursor: pointer !important;
            color: var(--asideText) !important;
            width: 100% !important;
            text-align: left !important;

            transition: all .5s ease-in-out !important;

            .btnText {
                display: block;
                transition: all .5s ease-in-out !important;
            }

            &:hover {
                background-color: var(--buttonHover) !important;
                box-shadow: 0px 0px 10px 1px rgb(10, 29, 54) !important;
                transform: scale(1.1) !important;

                .btnText {
                    @* border: 1px solid red; *@
                    transform: translateX(20px);
                }

            }
        }


        .mainSection {
            width: 100%;
            background-color: var(--mainBG);
            color: var(--bodyText);

        }
</style>
<main>
    <aside>
        <section>
            <button class="btn"> <span class="btnText">Dashboard</span> </button>
            <button class="btn"> <span class="btnText">Statistics</span></button>
            <button class="btn"> <span class="btnText">Payments</span></button>
            <button class="btn"> <span class="btnText">Transitions</span></button>
            <button class="btn"> <span class="btnText">Products</span></button>
            <button class="btn"> <span class="btnText">Customer</span></button>
            <button class="btn"> <span class="btnText">Message</span></button>
        </section>
        <section>
            <button class="btn"> <span class="btnText">Setting</span></button>
            <button class="btn"> <span class="btnText">LogOut</span></button>
        </section>
    </aside>

    <section class="mainSection">
        <span></span><span></span><span></span><span></span><span></span><span></span>
    </section>
</main>
@code {
    private void DashboardOpen()
    {

    }
}